.lb {
	display: none;
	position: fixed!important;
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    text-align:center;
}

.lb img {
	max-width: 90%;
	max-height: 80%;
}

.lb:target {
	outline: none;
	display: block;
}

a.lb:hover {cursor:default;}
img:hover {cursor:pointer;}

.photoCard img {
    padding: 1px;
}

.gallery {
    display: flex;
    align-content: center;
    text-align:center;
}

/**** The CSS that doesn't matter ****/

html {
  text-align:center;
}